.textbox {
    height: 40px;
    width:725px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    outline:0;
  }

body {
    background-color: black;
    color: white;
}
