<div class="row">
    <div class="col-md-6">
    <h2>Welcome, {{ User.name }} from {{ User.homeland }}<br></h2>
        <div class="userInfo">HP: {{ User.hp }}<br/>

        </div>
    </div>
</div>

<div class="row">
    <p>There is a trash can. What would you like to do?</p>

    <div>
        <form ng-submit="takeAction()">
            <input type="text" ng-model="actionButton"/>
            <button type="submit">go</button>
        </form>
    </div>
</div>


<div>
    <div class="inventory">
        <ul ng-show="inventory.length">
            <li ng-repeat="item in User.inventory">
                {{ item.object }}
            </li>
        </ul>
    </div>
</div>
